.swiper-slide-shadow .swiper-slide-shadow-cards {
    border-radius: 15px !important;
}
.swiper-slide{
    border-radius: 15px !important;
}
.swiper-cards .swiper-slide {
    border-radius: 15px !important;
}