.mainDemo {
    display: flex;
    flex-direction: column;
    padding: 0px 5%;
    height: 1500px;
}

.mainContent {
    display: flex;
    flex-direction: row;
}

.box_delivery {
    width: 50%;
    padding-right: 15px;
}

.input_delivery {
    margin: 5px;
    padding: 14px;
    color: gray;
}

.inputWidh {
    width: 100%;
}

.box_corzina {
    display: flex;
    padding: 40px;
    background-color: #F5F5F5;
    width: 50%;
}

.box_corzina_items {
    display: flex;
    flex-direction: row;
}

.box_img_items {
    width: 137px;
    height: 137px;
}

.activePaymentCard {
    display: none;
}

.deactivePaymentCard {
    display: block;

}

.test123 {
    overflow: hidden;
    transition: all 1s;

}

.h_Credit {
    margin: 5px;
    padding: 14px;
    border: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.credit_card_img {
    height: 40px;
    width: 45px;
}

.save_this {
    display: flex;
    flex-direction: row;
}

.play_now {
    margin-top: 20px;
    width: 100%;
    padding: 20px 46px;
    border-radius: 10px;
    background: #000;
    color: white;
}